*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/layout/row.xml
app/src/main/res/layout/category.xml
app/src/main/res/layout/row.xml
app/src/main/res/layout/category.xml
