<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kbasa.teaching">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Visdum"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Notification">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".RecevieMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".RegistrationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".teachers.T_AddCourseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TeacherHomeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".teachers.T_EditCourseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".students.CourseIntroductionActivity" android:screenOrientation="portrait"/>
        <activity android:name=".StudentSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".teachers.ViewCourseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".students.EnrollActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>